 <!-- <input  
    type="text" 
    name="nome" 
    id="nome" 
    minlength="3" maxlength="100" 
    required 
    autofocus placeholder="Insira seu nome" 
    formControl="nome" 
    class="form-control" 
    [ngClass]="{ 'is-invalid': submitted && f.nome.errors }" />
    
    <div *ngIf="submitted && registerForm.controls.nome.errors" class="invalid-feedback"></div>
    
  </div>

<br>
<div class="form-group">
  <label for="telefone">Telefone</label>
  <input type="text" name="telefone" id="telefone" maxlength="30" formControl="telefone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.telefone.errors }" />
  <div *ngIf="submitted && registerForm.controls.telefone.errors" class="invalid-feedback"></div>
</div>
<br>
<div class="form-group">
  <label for="email">Email</label>
  <input type="email" name="email" id="email"  maxlength="60" required formControl="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
  <div *ngIf="submitted && registerForm.controls.email.errors" class="invalid-feedback"></div>
</div>
<br>
<div class="form-group">
  <label for="idade">Idade</label>
  <input type="number" formControl="idade" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.idade.errors }" />
  <div *ngIf="submitted && registerForm.controls.idade.errors" class="invalid-feedback"></div>
</div>
<br>
<div class="form-group">
  <label for="cidade">Cidade</label>
  <input type="text" formControl="cidade" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cidade.errors }" />
  <div *ngIf="submitted && registerForm.controls.cidade.errors" class="invalid-feedback"></div>
</div>
<br>
<div class="form-group">
  <label for="estadp">Estado</label>
  <input type="text" formControl="estado" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.estado.errors }" />
  <div *ngIf="submitted && registerForm.controls.estado.errors" class="invalid-feedback"></div>
</div>
<br>
<div class="form-group">
  <label for="usuario">Usuário</label>
  <input type="text" formControl="usuario" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }" />
  <div *ngIf="submitted && registerForm.controls.usuario.errors" class="invalid-feedback"></div>
</div>
<br>
<div class="form-group">
  <label for="senha">Senha</label>
  <input type="password" name="senha" size="10" maxlength="6" formControl="senha" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.senha.errors }" />
  <div *ngIf="submitted && registerForm.controls.senha.errors" class="invalid-feedback"></div>
</div>
<br>
  <button class="btn btn-primary">Enviar</button> 
</form>
-->
<!--<div style="text-align:left;font-family: Arial;font-size: 18px;color:crimson ">
<h1>Formulário: </h1>
</div>
<form [formGroup] = "registerForm" (ngSubmit)= "onSubmit()">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input id="nome" type="text" class="form-control">
  </div>
  
  <div class="form-group">
  <label for="telefone">Telefone</label>
  <input id="telefone" type="text" class="form-control">
  </div>  

  <!--<div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="email" placeholder="seu-email-aqui@mail.com" required title="Must be a globex.com email address" class="form-control">
     <span *ngIf="email.invalid && email.touched">
          Your email does not look right
      </span>
  </div> 
-->
<div style="text-align:left;font-family: Arial;font-size: 18px;color:crimson ">
    <h1>Formulário: </h1>
</div>
    
    <form [formGroup] = "registerForm" (ngSubmit)= "onSubmit()">

        <label for="nome">Nome</label>
      <input formControlName="nome" autofocus placeholder="Insira seu nome" >
      <span *ngIf="nome.invalid && nome.touched">
          Nome é obrigatório.
      </span>
<br>
<label for="email">Email</label>     
<input formControlName="email" autofocus placeholder="seu-email@mail.com">
        <span *ngIf="email.invalid && email.touched">
          Email não válido
        </span>
<br>

      <label for="idade">Idade</label>
      <input formControlName="idade"  type="number" value="18">


 <br>

  <div class="form-group">
      <label for="cidade">Cidade</label>
      <input id="cidade" type="text" class="form-control">
  </div>

  <div class="form-group">
      <label for="estado">Estado </label>
          <select id="Estado" class="form-control">
            <option selected>Escolha...</option>
            <option>Acre</option>
            <option>Alagoas</option>
            <option>Amapá</option>
            <option>Amazonas</option>
            <option>Bahia</option>
            <option>Ceará</option>
            <option>Distrito Federal</option>
            <option>Espírito Santo</option>
            <option>Goias</option>
            <option>Maranhão</option>
            <option>Mato Grosso</option>
            <option>Mato Grosso do Sul</option>
            <option>Minas Gerais</option>
            <option>Pará</option>
            <option>Paraíba</option>
            <option>Paraná</option>
            <option>Pernambuco</option>
            <option>Piauí</option>
            <option>Rio de Janeiro</option>
            <option>Rio Grande do Norte </option>
            <option>Rio Grande do Sul</option>
            <option>Rondônia </option>
            <option>Roraima</option>
            <option>Santa Catarina</option>
            <option>São Paulo</option>
            <option>Sergipe</option>
            <option>Tocantins</option>
          </select>
    </div>

  <div class="form-group">
      <label for="usuario">Usuário</label>
      <input id="usuario" type="text" class="form-control">
  </div>

  <div class="form-group">
      <label for="senha">Senha</label>
      <input id="senha" type="password" minlength="6" maxlength="8" class="form-control" 
      [ngClass]="{ 'is-invalid': submitted && registerForm.controls.senha.touched}"
      aria-describedby="passwordHelpBlock">
      <small id="passwordHelpBlock" class="form-text text-muted" >
        Entre 6 e 10 caracteres
      </small>
      
     <span *ngIf="submitted && registerForm.invalid" class="invalid-feedback"></span>
    </div>

<button class="btn-btn-primary">Enviar</button>
</form>