<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left;font-family: Arial;font-size: 20px;color:crimson ">
  <title>Case 1 - Jaque</title>
<h1>
    Formulário:
</h1></div>
<form [formGroup] = "registerForm" (ngSubmit)= "onSubmit()">
  
  <div class="form-group">
    <label for="nome">Nome</label>
    <input  type="text" name="nome" id="nome" maxlength="100" required autofocus placeholder="Insira seu nome" formControl="nome" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nome.errors }" />
    <div *ngIf="submitted && registerForm.controls.nome.errors" class="invalid-feedback"></div>
    
  </div>

<br>
<div class="form-group">
  <label for="telefone">Telefone</label>
  <input type="text" name="telefone" id="telefone" maxlength="30" formControl="telefone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.telefone.errors }" />
  <div *ngIf="submitted && registerForm.controls.telefone.errors" class="invalid-feedback"></div>
</div>
<br>
<div class="form-group">
  <label for="email">Email</label>
  <input type="email" name="email" id="email"  maxlength="60" required formControl="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
  <div *ngIf="submitted && registerForm.controls.email.errors" class="invalid-feedback"></div>
</div>
<br>
<div class="form-group">
  <label for="idade">Idade</label>
  <input type="number" formControl="idade" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.idade.errors }" />
  <div *ngIf="submitted && registerForm.controls.idade.errors" class="invalid-feedback"></div>
</div>
<br>
<div class="form-group">
  <label for="cidade">Cidade</label>
  <input type="text" formControl="cidade" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cidade.errors }" />
  <div *ngIf="submitted && registerForm.controls.cidade.errors" class="invalid-feedback"></div>
</div>
<br>
<div class="form-group">
  <label for="estadp">Estado</label>
  <input type="text" formControl="estado" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.estado.errors }" />
  <div *ngIf="submitted && registerForm.controls.estado.errors" class="invalid-feedback"></div>
</div>
<br>
<div class="form-group">
  <label for="usuario">Usuário</label>
  <input type="text" formControl="usuario" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }" />
  <div *ngIf="submitted && registerForm.controls.usuario.errors" class="invalid-feedback"></div>
</div>
<br>
<div class="form-group">
  <label for="senha">Senha</label>
  <input type="password" name="senha" size="10" maxlength="6" formControl="senha" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.senha.errors }" />
  <div *ngIf="submitted && registerForm.controls.senha.errors" class="invalid-feedback"></div>
</div>
<br>
<div class="form-group">
  <button [disabled]="loading" class="btn btn-primary">Enviar</button> 
  <!-- <input type="submit" value="Enviar" id="enviar" name="enviar"> -->
<!-- <button type="submit" ng-click='onSubmit()'>Enviar</button> --> 

</div>
</form>